

        <div class="container">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Welcome To Math Flashcards!</h3>
              </div>
              <div class="panel-body">
                  <div class="row">
					<div class="col-md-8">
                        <h3>Welcome to Math Flashcards!</h3>
                        
                        <p align="justify">Choose from Addition, Subtraction, Multiplication, and Division using the links above.
                        
                        The math problem will be spoken to you, and you can respond by speaking your answer, or typing it into the answer box and pressing the enter button on your keyboard.</p>
                        
                        <p>**To hear the questions and answer with your voice, you'll need speakers and a microphone.</p>
                        
                        <br/><br/>
                    </div>
                </div>
              </div>
              <div class="panel-footer"><%= link_to "Home", root_path %></div>
            </div>
        </div>
    

